.aboutBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.aboutImage {
  display: inline-block;
  padding: 20px;
}

.aboutText {
  display: inline-block;
  padding: 20px;
  width: 600px;
}
