.title {
  margin-bottom: 30px;
}

.aboutBody {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.aboutImage {
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 5%;
}

.aboutText {
  max-width: 550px;
}
