.title {
  margin-bottom: 30px;
}

.aboutBody {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.aboutImage {
  margin-right: 1em;
  margin-bottom: 2em;
  border-radius: 1em;
  max-width: 40vh;
}

.aboutText {
  max-width: 550px;
}
