.cvContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cvText {
  display: inline-block;
  color: var(--darkgrey);
}

.cvText:hover {
  text-decoration: none;
  color: var(--mint);
  transition: 0.3s;
}

.cvImage {
  padding: 20px;
  max-width: 50vh;
}
