.homeGreeting {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.homeImage {
  display: inline-block;
  width: 200px;
  padding: 20px;
}

.homeText {
  display: inline-block;
}

.homeTextParag {
  padding: 20px 0;
}
