.homeGreeting {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.homeImage {
  display: inline-block;
  width: 40%;
  padding: 20px;
}

.homeText {
  display: inline-block;
  text-decoration: none;
  color: black;
  width: 50%;
}

.homeTextTitle {
  font-weight: bold;
  padding-bottom: 20px;
}

.homeTextParag {
  font-size: 25px;
  padding-bottom: 20px;
  text-align: left;
}

.homeText a {
  text-decoration: none;
  color: var(--darkgrey);
}

.homeText a:hover {
  text-decoration: none;
  color: var(--mint);
  transition: 0.3s;
}
