.homeGreeting {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.homeImage {
  display: inline-block;
  width: 200px;
  padding: 20px;
}

.homeText {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.homeText a {
  text-decoration: none;
  color: var(--darkgrey);
}

.homeText a:hover {
  text-decoration: none;
  color: var(--mint);
  transition: 0.3s;
  border-bottom: 2px solid var(--mint);
}

.homeTextParag {
  padding: 20px 0;
}
