/* --- Below is both for Research & Recent Activity pages --- */
.content__card {
  border: var(--grey) solid 2px;
  border-radius: 0.3em;
  box-shadow: 0 4px 8px 0 var(--grey);
  padding: 20px;
  margin: 0 20px;
  margin-bottom: 20px;
}
/* --- Below is for Recent Activity pages --- */
.activity__content {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity__img {
  max-width: 30vh;
  display: inline;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.activity__text {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  max-width: 90vw;
}

ul {
  margin-left: 16px;
}
